:root {
    --font-color: #303030;
    --font-light-color: #dfdfdf;
    --menu-background: #f8f8f8;
    --middle-width:  1200px;
}
body, ul, h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Palatino Linotype', 'Bookman Old Style', 'Times', 'Arial', 'Helvetica', 'Courier new', 'Courier';
}
p {
    padding: 0px;
    margin: 5px;
}
a {
    text-decoration: none;
    color: var( --font-color );
}
hr {
    width: 50%;
    border: 0;
    height: 1px;
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}
ul {
    padding: 0px;
}
ul li {
    margin: 0px;
    list-style-type: none;
}
.with-padding {
    padding: 20px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.head-and-menu > div {
    width: var( --middle-width );
}
.head-and-menu .main-title {
    padding: 10px;
}
.head-and-menu ul {
    padding: 0px;
    background-color: #f8f8f8;
}
.head-and-menu .hamburguer {
    display: none;
    margin-right: 20px;
    cursor: pointer;
}
.head-and-menu .hamburguer img {
    width: 42px;
}
nav ul li a {
    padding: 20px;
    text-align: left;
    color: #666;
    display: inline-block;
    text-align: center;
}
@media (max-width: 1150px) {
    .head-and-menu > div {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width: 840px) {
    .head-and-menu {
        position: relative;
    }
    .head-and-menu > div {
        flex-direction: row;
        align-items: center;
    }
    .head-and-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0px;
        flex-direction: column;
        z-index: 10;
        width: 100%;
    }
    .head-and-menu ul.open {
        display: flex;
    }
    .head-and-menu .hamburguer {
        display: block;
    }
    nav ul li a {
        width: 100%;
        text-align: left;
    }
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-and-menu {
    background-color: var( --menu-background );
    gap: 40px;
}
.head-and-menu ul a:hover {
    background-color: var( --font-light-color );
}
.page {
    padding: 20px;
    min-height: 80vh;
}
nav {
    background-color: #505050;
}
nav ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
nav ul li:hover {
}
nav ul a {
    color: var( --font-light-color );
    padding: 20px 0px;
}
.main-title {
    gap: 10px;
    align-items: flex-end;
}
.main-title img {
    height: 45px;
}
.page > .container > .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centered {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.centered.tight {
    max-width: 1200px;
}
.content .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 35px;
    margin-bottom: 5px;
    width: 100%;
}
.content .row .img-container {
    width: 20%;
    overflow: hidden;
}
.content .row .img-container img {
    width: 100%;
}
.content .row .description {
    width: 100%;
}
.content .custom-links {
    margin: 10px;
}
.content .custom-links ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.content .custom-links li {
    background-color: #538cc6;
    padding: 8px 10px;
    text-align: center;
    border-radius: 8px;
}
.content .custom-links li a {
    color: #ffffff;
    font-size: 18px;
}
.content .custom-links li a:hover {
    text-decoration: underline;
}


/*
.page.calendar .calendars {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.page.calendar .month {
    padding: 20px;
    border-radius: 8px;
    background-color: #dfecf0;
}
.page.calendar .week {
    display: flex;
    gap: 3px;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.page.calendar .week:first-child .day {
    background-color: #ffdddf;
}

.page.calendar .day {
    border-radius: 4px;
    background-color: #efc4de;
    width: 25px;
    text-align: center;
    padding: 3px;
}
.page.calendar .day.occupied {
    background-color: #cfb3da;
    cursor: pointer;
}
.page.calendar .day-detail {
    display: none;
}
*/

/*
 * Calendario de uso
 */

.calendar .flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.calendar .left-column {
    padding: 8px;
    width: 320px;
}
.calendar h1{
    margin-bottom: 20px;
}
.calendar .calendars {
    padding-left: 8px;
    padding-top: 8px;
    max-width: 652px;
}
.calendar .calendars .month {
    padding: 8px;
    /*border: 2px dashed #dba;*/
    min-height: 290px;
    margin-right: 16px;
    margin-bottom: 24px;
    border-radius: 5px;
	box-shadow: 1px 1px 6px #ddd;
}
.calendar .calendars .month .name {
    padding: 2px;
    font-weight: bold;
    margin-left: 24px;
    color: #d74;
}
.calendar .calendars .week:first-child .day {
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #eee;
    color: #225;
    cursor: default;
    border-radius: 3px;
}
.calendar .calendars .week {
    display: flex;
    padding-left: 2px;
    padding-top: 2px;
}
.calendar .calendars .day {
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #f8e8d8;
    width: 38px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #522;
    border-radius: 3px;
}
.calendar .calendars .day.occupied {
    background-color: #e8d8c8;
    /*border: 1px double #b8a898;*/
    cursor: pointer;
}
/* modal en calendario de uso */
section.calendar.page .details-modal {
	top: 0;
	left: 0;
	z-index: 2000;
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
    color: #fff;
}
section.calendar.page .details-modal .container {
	background-color: #fff;
	padding: 20px;
	position: relative;
	width: 540px;
	max-height: 96%;
    max-width: 90%;
	overflow-y: auto;
    color: #333;
    border-radius: 8px;
}
section.calendar.page .details {
    display: none;
}
/*
 * End calendar
 */
div.close-button{
	position: absolute;
	width: 12px;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

/*
 * Home
 */
.home-item{
	margin-bottom: 20px;
	width: 100%;
}
.home-item img{
	width: 100%;
}
.home-gallery{
	overflow: hidden;
}
.home-gallery img{
	display: none;
	width:100%;
}
.home-gallery img:nth-child(1){
	display: block;
}
.home-activity-image{
	height: 240px;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.home-gallery-text {
    /*background-image: linear-gradient(#222, #222);  */
    padding: 30px;
    border-radius: 0 0 5px 5px;
    color: #fff;
    text-align: justify;
    font-weight: 100;
    line-height: 25px;
}
.home-quote {
    padding: 30px;
    font-size: 22px;
    font-style: italic;
    text-align: right;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.home-description {
    background-color: #538cc6;
    padding: 30px;
    text-align: justify;
    color: #fff;
    border-radius: 3px;
}
.home-titles {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    margin-top: -6px;
}
.home .container {
    display: flex;
    justify-content: space-evenly;
}
.home .container > div {
    padding: 20px;
}
.home .container > div:first-child {
    width: 75%;
}
.home .content {
    max-width: 800px;
}
.home-item {
    max-width: 300px;
}
footer {
    background-color: #333;
    color: #bbb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h4 {
    font-size: 18px;
}
footer p {
    text-align: center;
}
.activities main img {
    max-height: 500px;
}
.activities .past-activities {
    display: flex;
    gap: 20px;
    padding: 20px 35px;
    background-color: #9f9f9f;
}
.activities .past-activities .activity {
    background-color: #efefef;
}
.activities .past-activities .activity img {
    max-height: 160px;
}
.activities .past-activities .activity .title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    max-width: 120px;
}
.list-group {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.list-group .list-group-item {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.list-group .list-group-item.active {
    background-color: #337ab7;
    color: #fff;
}
.list-group .list-group-item:last-child {
    border-bottom: none;
}
.two-columns .column {
    width: 50%;
}
.uso.page img {
    width: 100%;
}
.panel {
    border: 1px solid #bce8f1;
    border-radius: 4px;
}
.panel-heading {
    padding: 15px;
    font-weight: bold;
    background-color: #d9edf7;
    color: #31708f;
    border-bottom: 1px solid #bce8f1;
}
.panel-body {
    padding: 15px;
}
@media (max-width: 1160px) {
    .content .row {
        flex-direction: column;
    }
    .content .row .img-container {
        width: 100%;
    }
    .two-columns .column {
        width: 100%;
    }
}
#panel-como-llegar {
    text-align: left;
}
